@model IEnumerable<PHP_SRePS.Models.Item>

<!DOCTYPE html>
<html>
<body>
    <form>
        <fieldset>
            <fieldset>
                <legend>NEW</legend>
                
                <p>
                    <label for="ItemCode">Item</label>
                    <select required="required" id="itemcode" name="itemcode">
                        @foreach (var item in Model)
                        {
                            <option>@item.Name</option>
                        }
                    </select>
                </p>

                <p>
                    <label for="QSold">Quantity Sold:</label>
                    <input type="number" required="required" id="qSold" name="qSold" />
                </p>

                <p>
                    <label for="totalPrice">Total Price:</label>
                    <input type="number" required="required" id="totalPrice" name="totalPrice" />
                </p>

                <p>
                    <label for="date">Date:</label>
                    <input type="date" required="required" id="salesdate" name="salesdate" />
                </p>
            </fieldset>
        </fieldset>
        <input type="submit" value="Submit">
    </form>
</body>
</html>