@{
	ViewBag.Title = "Sales";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!DOCTYPE html>
<html>
<body>
<form>
	<fieldset>
		<fieldset>
			<legend>SALES</legend>
			<p><label for="ItemCode">Item Code:</label>
			<input type="number" required="required" id="itemcode" name="itemcode"/>
			</p>

			<p><label for="QSold">Quantity Sold:</label>
			<input type="number" required="required" id="qSold" name="qSold"/>
			</p>

			<p><label for="totalPrice">Total Price:</label>
			<input type="number" required="required" id="totalPrice" name="totalPrice"/>
			</p>
		
			<p><label for="date">Date:</label>
			<input type="date" required="required" id="salesdate" name="salesdate"/>
			</p>
		</fieldset>
	</fieldset>
	 <input type="submit" value="Submit">
</form>
</body>
</html>