@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Unauthorised Access</h1>
        <p class="lead">Please log in with your employee infomation to continue.</p>
        <p>@Html.ActionLink("Log in", "Login", "Account", new { id = "loginLink" }, new { @class = "btn btn-primary btn-lg" })</p>
    </div>

