@{
    ViewBag.Title = "Reporting Page";
}

    <div class="jumbotron">
        <h3>Welcome to Inventory!</h3>
        <hr />
        <h5>What would you like to do?</h5>
        <li>@Html.ActionLink("Generate monthly sales reports", "DisplayMonthlyReport", "Reporting", new { month = @DateTime.Now.Month.ToString() }, null)</li>
        <!-- <li>@Html.ActionLink("Generate monthly sales reports", "DisplayMonthlyReport", "Reporting")</li> -->
        <li>@Html.ActionLink("Export Reports", "InventoryList", "Inventory")</li>
    </div>